# Завдання 2

In [1]:
#1

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\E L I T E B O O K\\Downloads\\bestsellers with categories.csv")

In [4]:
#2

In [5]:
print(df.head(10))

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [6]:
#3

In [7]:
shape = df.shape
print("Розмір датасета:", shape)

Розмір датасета: (550, 7)

In [8]:
unique_book_titles = df['Name'].unique()
number_of_unique_titles = len(unique_book_titles)

print("Number of unique book titles:", number_of_unique_titles)

Number of unique book titles: 351

In [9]:
#Датасет зберігає 351 книг

In [10]:
#4

In [11]:
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']

In [12]:
#5

In [13]:
missing_values_per_column = df.isnull().sum()
print(missing_values_per_column)

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [14]:
#Чи є в якихось змінних пропуски? НІ

In [15]:
#6

In [16]:
уnique_genres = df['genre'].unique()
print("Унікальні жанри:", уnique_genres)

Унікальні жанри: ['Non Fiction' 'Fiction']

In [17]:
#7

In [18]:
max_price = df['price'].max()
min_price = df['price'].min()
mean_price = df['price'].mean()
median_price = df['price'].median()

print("Максимальна ціна:", max_price)
print("Мінімальна ціна:", min_price)
print("Середня ціна:", mean_price)
print("Медіанна ціна:", median_price)

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

In [19]:
#8

In [20]:
max_rating = df['user_rating'].max()
print("Найвищий рейтинг у датасеті:", max_rating)

Найвищий рейтинг у датасеті: 4.9

In [21]:
books_max_rating = (df['user_rating'] == max_rating).sum()

print("Кількість книг із максимальним рейтингом", ":", books_max_rating)

Кількість книг із максимальним рейтингом : 52

In [22]:
id_max_reviews = df['reviews'].idxmax()

book_max_reviews = df.loc[id_max_reviews]

print("Книга з найбільшою кількістю відгуків:")
print(book_max_reviews)

Книга з найбільшою кількістю відгуків:
name           Where the Crawdads Sing
author                     Delia Owens
user_rating                        4.8
reviews                          87841
price                               15
year                              2019
genre                          Fiction
Name: 534, dtype: object

In [23]:
top_50_2010 = df[(df['year'] == 2010) & (df['user_rating'] >= 4.5)]
expensive_book_2010 = top_50_2010.loc[top_50_2010['price'].idxmax()]
print("Найдорожча книга серед книг, що потрапили до Топ-50 у 2010 році:")
print(expensive_book_2010)

Найдорожча книга серед книг, що потрапили до Топ-50 у 2010 році:
name           Publication Manual of the American Psychologic...
author                        American Psychological Association
user_rating                                                  4.5
reviews                                                     8580
price                                                         46
year                                                        2010
genre                                                Non Fiction
Name: 272, dtype: object

In [24]:
fiction_2012 = df[(df['year'] == 2012) & (df['genre'] == 'Fiction')]
books_fiction_2012 = fiction_2012.shape[0]
print("Кількість книг жанру Fiction, які потрапили до Топ-50 у 2012 році:", books_fiction_2012)

Кількість книг жанру Fiction, які потрапили до Топ-50 у 2012 році: 21

In [25]:
condition = (df['user_rating'] == 4.9) & (df['year'].isin([2010, 2011]))

books_2010_2011 = df[condition].shape[0]

print("Кількість книг з рейтингом 4.9, які потрапили до рейтингу у 2010 або 2011 роках:", books_2010_2011)

Кількість книг з рейтингом 4.9, які потрапили до рейтингу у 2010 або 2011 роках: 1

In [26]:
#9

In [27]:
df_subset = df[['genre', 'price']]
result = df_subset.groupby('genre').agg({'price': ['max', 'min']})
result.columns = ['Максимальна ціна', 'Мінімальна ціна']
print(result)

             Максимальна ціна  Мінімальна ціна
genre
Fiction                    82                0
Non Fiction               105                0